In [21]:
#Dependencies
import os

import pandas as pd

import sqlite3

In [22]:
#create/connect to db file
ffdb = sqlite3.connect('ffdb')

In [24]:
#create table
cursor = ffdb.cursor()
cursor.execute('''
    CREATE TABLE fire(id INTEGER PRIMARY KEY, year INTEGER,
                       state TEXT, month TEXT, number INTEGER, date TEXT)
''')
ffdb.commit()

In [27]:
#load csv and load into dataframe
ffdf = pd.read_csv('amazon.csv', encoding = 'iso-8859-1')
ffdf.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [28]:
#put dataframe data into sql database
ffdf.to_sql('fire', ffdb, if_exists = 'replace', index =False)

In [29]:
#close the db
ffdb.close()